/* 
need css documentation here
*/

:root {
    --main-dark: #1a202c;
    --main-light: #FAFAFA;
}

.text-section_body {
    list-style-type: none;
}


/* .paper_default,
.paper_main {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0% 8%;
} */

.background_dark {
    color: var(--main-light);
    background: var(--main-dark) !important;
}

.background_light {
    color: var(--main-dark);
    background: var(--main-light) !important;
}

.caption {
    font-style: italic;
}

.image-full {
    width: 70vh;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card_media {
    position: relative;
    float: left;
}

.card_title {
    color: var(--main-dark);
    position: absolute;
    top: 6px;
    left: 12px;
}

.nav-bar_item {
    color: inherit;
    padding: 0px 20px;
    text-decoration: none;
}

.nav-bar {
    /* background: var(--main-dark); */
    /* box-shadow: none !important; */
    background: inherit;
}

.main {
    background: inherit;
}

.footer_box {
    padding: 7vh;
}

.footer_text {
    text-align: center;
    color: inherit
}

.hero_box {
    color: inherit;
    padding-top: 8%;
    padding-bottom: 6%;
    text-align: left;
}

.text-image-section_container {
    color: inherit;
}